﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="FoodSmart.WebApp.View.Home" MasterPageFile="~/Site.Master" Title=":: FoodSmart :: Home" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="container" runat="Server">
    <center>
    <div style="margin: 2% 0% 0% 0%;width:400px;">
        <img src="../Images/pos_logo2.jpg" height="400" width="400" />
    </div>
    </center>
</asp:Content>