﻿/*AutoComplete flyout */

.autocomplete_completionListElement 
{  
	margin : 0px!important;
	background-color : ButtonShadow;
	color : windowtext;
	border : buttonshadow;
	border-width : 1px;
	border-style : solid;
	cursor : 'default';
	overflow : auto;
	height : 100px;
	font-family:Tahoma;
	font-size:small;
    text-align : left; 
    list-style-type : none;
    padding-left:0px;
}

/* AutoComplete highlighted item */

.autocomplete_highlightedListItem
{
	background-color:GrayText;/* #ffff99; */
	color: black;
	padding: 1px;
}

/* AutoComplete item */

.autocomplete_listItem 
{
	background-color : ButtonShadow;
	color : windowtext;
	padding : 1px;
}


/* Modul Popup */
.ModalPopupBG
{
    background-color: ActiveBorder;
    filter: alpha(opacity=50);
    opacity: 0.7;
}

.HellowWorldPopup
{
    min-width:200px;
    min-height:150px;
    background:white;
}
