﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Unauthorized.aspx.cs" Inherits="FoodSmart.WebApp.Unauthorized" MasterPageFile="~/Blank.Master" Title=":: Liner :: Unauthorized" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="container" runat="Server">
    <div>
        <div id="dvheader">
            <h3>
                Unauthorized</h3>
        </div>
        <div id="dvbody">
            You are not authorized to view this page.</div>
    </div>
</asp:Content>